@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

body {
  font-family: "Mulish", sans-serif;
  color: (19, 19, 24);
}

/* shared style  */
main {
  max-width: 1170px;
  margin: 0 auto;
}
.primary-color {
  color: rgb(90, 90, 93);
  line-height: 26px;
  margin: 0;
}
.secondary-color {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px;
  margin: 0;
}
.third-color {
  color: rgb(255, 84, 0);
}
.common-title {
  font-size: 2.5rem;
  font-weight: 800;
  margin: 0;
}
.btn-primary {
  width: 174px;
  height: 52px;
  border-radius: 8px;
  border: none;
  background-color: rgb(255, 84, 0);
  color: white;
}
/* navbar style  */
.navbar {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.logo {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}
.logo img {
  width: 3rem;
  height: 3.5rem;
}
.logo-text {
  font-size: 2.25rem;
  font-weight: 800;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  gap: 2.75rem;
}
.home-bold {
  font-weight: 700;
}
.nav-options a {
  text-decoration: none;
  font-size: 1.125rem;
  color: rgb(66, 66, 71);
}

/* banner style  */
.banner {
  border-radius: 1rem;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8),
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/group-13.png");
  padding: 6.625rem 11.5625rem;
  text-align: center;
  margin-bottom: 100px;
}
.banner-title {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  margin: 0 0 1.5rem 0;
}
.banner-text {
  max-width: 676px;
  margin: 0 auto;
  line-height: 26px;
  color: white;
}
.banner-input {
  margin-top: 3rem;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
  backdrop-filter: blur(2px);
  display: flex;
  gap: 24px;
  justify-content: space-between;
}
.banner-input input,
.banner-input select {
  width: 174px;
  height: 52px;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  border: none;
  color: rgba(19, 19, 24, 0.5);
}
.find-btn {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
/* popular tours style  */
.popular-tours {
  display: flex;
  gap: 3.3125rem;
  margin-bottom: 100px;
}
.popular-tours-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.read-more-btn {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 8px;
}
.popular-tours-img {
  width: 100%;
}

/* Your Destination style  */
.destination-details {
  text-align: center;
}
.your-destination img {
  width: 100%;
  height: 300px;
  filter: brightness(80%);
}
.destination-details p {
  max-width: 643px;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.country-row {
  display: grid;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}
.row-1 {
  grid-template-columns: 1fr 1fr;
}
.row-2 {
  grid-template-columns: 1.36fr 1.73fr 1fr;
}
.row-3 {
  grid-template-columns: 1fr 1.42fr;
}
.country-card {
  text-align: center;
  position: relative;
}
.country-name {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-weight: 800;
  font-size: 1.75rem;
  transform: translate(-50%, -100%);
}

/* why choose us style  */
.why-choose-us {
  margin-top: 100px;
  margin-bottom: 100px;
}
.choose-us-row-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}
.choose-card {
  box-sizing: border-box;
  padding: 2rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(251, 181, 99, 0.2);
  border-radius: 16px;
  background: rgba(251, 181, 99, 0.05);
}
.choose-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 2rem 0 1rem 0;
}
.card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.card-3 {
  max-width: 558px;
  margin: 0 auto;
}

/* Deals & Discounts style  */
.deals-discounts-card {
  max-width: 1170px;
  min-height: 500px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url("../Images/group-39.png");
  margin-bottom: 1.5rem;
}
.discounts-card {
  max-width: 579px;
  min-height: 389px;
  border: 2px solid white;
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  background: rgba(255, 255, 255, 0.8);
  margin-right: 3.5rem;
}
.discounts-card-padding {
  padding: 3.125rem
}
.discounts-details {
  display: flex;
  justify-content: space-between;
}
.discount-title {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 1.5rem 0 1rem 0;
}
.discount-price {
  font-size: 1.25rem;
  font-weight: 800;
  margin: 1rem 0 1.5rem 0;
}
.book-btn {
  font-size: 1.25rem;
  font-weight: 700;
  padding: 14px 24px;
  border-radius: 8px;
  background: rgb(255, 84, 0);
  color: white;
  border: none;
}
.deals-discounts-card-2 {
  max-width: 1170px;
  min-height: 500px;
  display: flex;
  align-items: center;
  background-image: url("../Images/group-40.png");
  margin-bottom: 1.5rem;
}
.discounts-card-2 {
  margin-left: 3.5rem;
}

/* see-all button  */
.see-all{
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 6.25rem;
}